
  <% content_for :js do %>
    <%= tinymce_javascript_tag "pages"%>
  <% end %>

<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :mtitle %><br />
    <%= f.text_field :mtitle %>
  </div>
  <div class="field">
    <%= f.label :mdesc %><br />
    <%= f.text_field :mdesc %>
  </div>
  <div class="field">
    <%= f.label :mkeywords %><br />
    <%= f.text_field :mkeywords %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.tinymce :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'К списку страниц', pages_path %>
  </div>
<% end %>
