
<div id="main-gallery" class="nclear">
  <div id="gallery-big-show">

    <%- @products.each_with_index do |product, i|%>
      <%= image_tag product.photo_url(:medium), id: "gallery-big-img-#{i}", class: 'gallery-big-img' %>
    <%- end %>
  </div>
  <div class="nclear">
    <div class="main-gallery-right">
      <%- @products.each_with_index do |product, i|%>
        <div id="gallery-product-info-<%=i%>" class="gallery-product-info">
          <%- discount = (product.try(:old_price) - product.price) / product.try(:old_price) * 100 if product.old_price.present? %>
          <div class="side-product-title">
            <%= product.try(:title)%>
            <%- if discount %>
              (-
              <%= discount.to_i %>
              %)
            <%- end %>
          </div>
          <div class="side-product-description"><%= product.try(:description) %></div>
          <span class="btn side-product-pricede-product-btn">
            <a style="color: white;" href= "/categories/<%=product.category_id%>/products/<%= product.id %>" >
              Просмотр
            </a>
          </span>
          <%- if product.old_price.present? %>
            <div class="side-product-price"><s><%= sprintf('%.02f', product.try(:old_price)) %></s> руб.</div>
          <%- end%>
          <div class="side-product-price"> <%= sprintf('%.02f', product.price) %> руб.</div>
        </div>
      <%- end %>
      <div class="shapes">
        <div class="shape-left" onclick="gallery.prev()"><i class="tr-01"></i></div>
        <div class="shape-right" onclick="gallery.next()"><i class="tr-01"></i></div>
      </div>
    </div>
  </div>
  <div class="main-gallery-previews">
    <%- @products.each_with_index do |product, i|%>
      <div class="gallery-item" onclick="gallery.show(<%= i %>)" data-id='<%= i %>'>
        <a class="gallery-item-img" href="/">
          <%= image_tag product.photo_url(:small) %>
        </a>
        <a href="/" class="gallery-item-title"><%= product.try(:title) %></a>
      </div>
    <%- end %>

  </div>
  <script type="text/javascript">
    gallery.init();
  </script>
</div>
<div class="sponsors-list nclear">
  <% @banners.each do |banner| %>
      <a class="sponsors-item" href=<%= banner.lnk %>>
        <img src="<%= banner.image_url(:thumb) %>" alt=<%= banner.alt_text %>>
      </a>
  <% end %>

</div>
<div class="main-slogan">«Каждый, кто любит яркое, красивое, модное и актуальное найдет на нашем сайте для себя подходящее изделие!»</div>
<%= render 'main_text' %>
<div class="ta-c">
  <% link_to '#', class: 'main-catalog-link' do %>
    <span>Каталог</span> &rarr;
  <% end %>
  <!-- <a class="main-catalog-link" href="/"><span>Каталог</span> &rarr;</a> -->
</div>
