<% content_for :meta do %>
    <title><%= title%></title>
    <meta name="description" content="<%= @page.mdesc %>; charset=utf-8" />
    <meta name="keywords" content="<%= @page.mkeywords%>; charset=utf-8" />
<% end %>

<p id="notice"><%= notice %></p>
<% if @page.isMain?%>
  <% content_for :main_page do %>
    <div class="main_description">
      <%= raw @page.description %>
    </div>
  <% end %>

    <ul id="list-products">
        
        <%= render rand_products%>
    </ul>



<% else%>
  <h1 class="underline">
    <%= @page.title %>
  </h1>
  <div class="page-content">
    <%= raw @page.description %>
  </div>
<% end %>

<%if current_user %>
  <% if current_user.isAdmin? %>
    <%= link_to 'Редактировать', edit_page_path(@page) %>
  <%end%>
<%end%>