<h1>Advanced search</h1>

<%= form_for @search, :method => 'get', :id => "products_search" do |f| %>
  <div class="field">
    <%= f.label :category_id %><br />   
    <%= f.select :category_id, Category.all.collect{|x| [x.title,x.id]},{},:size=>5,:multiple=>true,  :class=>"chzn-select", :style=>"width: 350px;" %>
  </div>
  <div class="field">
    <%= f.label :min_price, "price range" %>
    <%= f.text_field :min_price, :size => 10 %>
    
    <%= f.label :mas_price, "to" %>
    <%= f.text_field :mas_price, :size => 10 %>
  </div>
  <div class="actions"><%= f.submit "search"%></div>
<% end %>