<h1 class="title-main-box">Оформление заказа</h1>
<% if(!@card.blank?) %>
    <table class="list-products-card">
      <tr class="tr-top">
        <td>Наименование товара</td>
        <td>Количество</td>
        <td>Цена</td>
        <td class="td-last">Сумма</td>
      </tr>
      <% card_total_price = 0 %>
      <% @card.each do |pc|%>

      <tr>
        <td><%=pc[1]["name"]%></td>
        <td>
          <a href="javascript: void(0)" onclick="check.minusOneFromCard($(this), <%= pc[0]%>)"><b>-</b></a>
          <span class="count"><%=pc[1]["count"]%></span>
          <a href="javascript: void(0)" onclick="check.addOneToCard($(this), <%= pc[0]%>)"><b>+</b></a>
        </td>
        <td><%=pc[1]["price"]%></td>
        <td class="td-last"><%=pc[1]["count"].to_i * pc[1]["price"].to_f%></td>
      </tr>
          <% card_total_price += pc[1]["count"].to_i * pc[1]["price"].to_f %>
      <% end %>

      <tr class="tr-bottom">
        <td colspan="4" class="td-last">Итог: <%= card_total_price%></td>
      </tr>
    </table>
    <% if(!current_user) %>
        <div class="info-box">
            Если вы хотите остлеживать состояние заказа, то вам необходимо <a href="/users/sign_up">зарегистрироваться</a>, либо если вы уже зарегистрировались у нас, то можете просто
        <a href="/users/sign_in">войти</a> под своей учётной записью.
        </div>
    <% end %>
    <div class="form">
        <h4>Ваши контактные данные</h4>
        <div class="form-raw">
          <label class="f-label" for="fio">
            ФИО :
          </label>
          <input type="text" id="fio">
        </div>
        <div class="form-raw">
          <label class="f-label" for="mobile-number">
            Мобильный телефон :
          </label>
          <input type="text" id="mobile-number">

          <div class="helper">формат записи:  +7 900 000 0000</div>
        </div>
    </div>

    <div class="btn-check">
      <a class="buttn" href="javascript:void(0)" style="font-size:15px" onclick="check.getNextStep()">Оформить</a>
    </div>
<% end %>
<script type="text/javascript">
  card.init();
  check.init();
</script>
