<% if(@cards) %>
    <table class="list-products-card list-products-sm">
      <tr class="tr-top">
        <td>ФИО</td>
        <td>Телефон</td>
        <td>Пользователь</td>
        <td>Состояние</td>
        <td class="td-last">Корзина</td>
      </tr>
        <% @cards.reverse_each do |c| %>
          <% if(c.status.to_i == 0) %>
          <tr class="ticket-inwork">
          <% elsif(c.status.to_i == 1) %>
          <tr class="ticket-done">
          <% elsif(c.status.to_i == 2) %>
          <tr class="ticket-reject">
          <% end %>
            <td><%= c.fio%></td>
            <td><%= c.phone%></td>
            <td>
              <% if(c.user_id) %>
                <%= User.find_by_id(c.user_id).email %>
              <% end %>
            </td>
            <td>
              <select onchange="change_status(<%= c.id%>, $(this))">
                <% Card::STATUS.each_index do |key|%>
                    <option value="<%= key %>" <%= c.status.to_i == key ? ("selected='selected'") : ""%>><%= Card::STATUS[key.to_i]%></option>
                <% end %>
              </select>
            </td>
            <td class="td-last">
              <%
                 card_total_price = 0
                 card_count = 0
              %>
              <% JSON.parse(c.cardjson).each do |pc| %>
                  <% card_count += 1 %>
                <div class="<%= card_count > 2 ? 'h' : ''%>"><%= pc[1]["name"] + " (id = " + pc[0].to_s + ") " + pc[1]["count"].to_s%></div>
                <% card_total_price += pc[1]["count"].to_i * pc[1]["price"].to_f %>
              <% end %>
              <% if(card_count > 2) %>
                  <a href="javascript: void(0)" onclick="showAllCard($(this))"><b>...</b></a>
              <% end %>
              <div>Итог: <%= card_total_price%></div>
            </td>
          </tr>
        <% end%>
    </table>
<% else %>
    <h1>К сожалению, заказов ещё не поступило.</h1>
<% end %>
<script type="text/javascript">
  showAllCard = function(el){
      el.hide().parent().find(".h").show();
  }
  change_status = function(id, el){
      status = el.val();
      $.post('/card/change_status',{ajax: 1, id: id, st: status}, function(resp){
        if(resp.res == 1){
            location.reload();
        }
      });
  }
</script>
