<h2> Оформаление заказа. </h2>

<br>
<div>
  <h3 style="color: indianred;"><%= flash[:notice] %> </h3>
</div>
<br>

<% @cart_items.each do |cart_item| %>
    <a class="basket-item-img" href="/categories/<%=cart_item.category_id%>/products/<%= cart_item.id %>">
      <%= image_tag cart_item.photo_url(:thumb) %>
    </a>
    <div class="basket-item-content">
      <div><a class="basket-item-title" href="/categories/<%=cart_item.category_id%>/products/<%= cart_item.id %>">
        <%= cart_item.category.name %>
      </a></div>
      <div class="basket-item-price"><%= sprintf('%.02f', cart_item.price) %> руб.</div>
    </div>
    <div class='nclear'></div>
<% end %>



<%= form_for @card, :url => card_path do |f| %>

    <div class="field">
      <%= f.label :fio, 'ФИО' %><br />
      <%= f.text_field :fio %>
    </div>
    <div class="field">
      <%= f.label :phone, 'Телефон' %><br />
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :city, 'Город' %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :address, 'Адрес' %><br />
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :has_courier, 'Доставка курьером' %><br />
      <%= f.check_box :has_courier %>
    </div>

    <div class="field">
      <%= f.label :comment, 'Комментарий покупателя' %><br />
      <%= f.text_field :comment, size: '60x12' %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Сохранить" %>
    </div>
<% end %>
