<li class="brs2-3" data-id="<%= product.id%>" data-name="<%= product.article%>" data-price="<%= product.price%>">
  <span class="p-title">
    <a href="<%= category_product_path(@category, product)%>">
      <%= image_tag "/thumb/#{product.article}.jpg"%>
    </a>

  </span>
  <span class="d-b ">
    
    <span class="p-addcard fl-r" data-id="<%= product.id%>" data-name="<%= product.article%>" data-price="<%= product.price%>">
      <%= image_tag "cart.jpg",{:width => 30} %>
    </span>
      <%= product.article %></br>
      <%= product.brand %></br>
      <%= product.price.round(2)%></br> 
   
  </span>
</li>