<h2>
  <%= @category.title %>
</h2>

<% if(@category.products) %>
    <ul id="list-products">
        <% @category.products.each do |p|%>
           <li data-id="<%= p.id%>" data-name="<%= p.article%>" data-price="<%= p.price%>">
             <span class="price"><%= p.price.round(2)%></span>
             <%= p.article%>
           </li>
        <% end %>
    </ul>
<% end %>
<div class="admin-links">

  <%= link_to 'Редактировать категорию', edit_category_path(@category) %>
  <%= link_to 'Добавить продукт в категорию', new_category_product_path(@category) %>

</div>
