<%if !is_admin?%>
  <% content_for :js do %>
    <%= javascript_include_tag "pagination" %>
  <% end %>
<% end %>

<% @title = @category.title %>

<h2 class="underline">
  <%= @category.title %>
</h2>

<% if(@products) %>
    <ul id="list-products">
      <% if !!@products %> 
        <%= render @products%>
      <%else%>
        <%= Продукты из данной категории отсутствуют в продаже.%>
      <%end%>
    </ul>
<% end %>
<%if current_user %>
  <% if current_user.isAdmin? %>
    <div class="admin-links">

      <%= link_to 'Редактировать категорию', edit_category_path(@category) %>
      <%= link_to 'Добавить продукт в категорию', new_category_product_path(@category) %>

    </div>
  <% end %>
<% end %>

<%= will_paginate @products%>
