<h2>
  <%= @category.title %>
</h2>

<% if(@category.products) %>
    <ul id="list-products">
        <% @category.products.each do |p|%>
           <li class="brs-3" data-id="<%= p.id%>" data-name="<%= p.article%>" data-price="<%= p.price%>">
             <span class="p-title">
               <span class="p-price"><%= p.price.round(2)%></span>
               <%= p.article%>
             </span>
             <span class="d-b ta-r">
                <span class="p-addcard brs-3">Добавить в корзину</span>
             </span>
           </li>
        <% end %>
    </ul>
<% end %>

<div class="admin-links">

  <%= link_to 'Редактировать категорию', edit_category_path(@category) %>
  <%= link_to 'Добавить продукт в категорию', new_category_product_path(@category) %>

</div>
