<% @title = @category.title %>
<h2>
  <%= @category.title %>
</h2>

<% if(@category.products) %>
    <ul id="list-products">
        <% @category.products.each do |p|%>
          <li class="brs2-3" data-id="<%= p.id%>" data-name="<%= p.article%>" data-price="<%= p.price%>">
            <span class="p-title">
              <a href="<%= category_product_path(@category, p)%>">
                <%= image_tag "#{p.article}.jpg"%>
              </a>
             <!-- <%= link_to p.article, category_product_path(@category, p) %> -->
            </span>
            <span class="d-b ">
              
              <span class="p-addcard fl-r" data-id="<%= p.id%>" data-name="<%= p.article%>" data-price="<%= p.price%>">
                <%= image_tag "cart.jpg",{:width => 30} %>
              </span>
                <%= p.article %></br>
                <%= p.brand %></br>
                <%= p.price.round(2)%></br> 
             
            </span>
          </li>

        <% end %>
    </ul>
<% end %>
<%if current_user %>
  <% if current_user.isAdmin? %>
    <div class="admin-links">

      <%= link_to 'Редактировать категорию', edit_category_path(@category) %>
      <%= link_to 'Добавить продукт в категорию', new_category_product_path(@category) %>

    </div>
  <% end %>
<% end %>
