

<div class="product-list-item product-item-mini">
  <a href="/" class="product-item-img">
    <%= image_tag "/small/#{product.try(:article)}.jpg" %>
  </a>
  <div class="product-list-info">
    <div class="product-list-title"><%= product.category.name if product.category_id > 0 %></div>
    <div class="product-list-articles">
      <div class="product-list-article">
        Ар.:
        <%= product.try(:article) %>
      </div>
      <div class="product-list-article"><%= product.try(:brand) %></div>
    </div>
    <div class="product-list-price">
      <%= product.price.round(2)%> р.
    </div>
    <span class="btn">Оформить заказ</span>
    <span class="on-sclad">
      <i class="icon-ok"></i>
    </span>
  </div>
</div>
