<p id="notice"><%= notice %></p>

  <div class="ienlarger">
    <a href="#nogo">
      <img src="http://img691.imageshack.us/img691/7360/89815502.jpg" alt="thumb" class="resize_thumb" />
      <span>
        <img src="http://img691.imageshack.us/img691/7360/89815502.jpg" alt="large" /><br />
        Текст можно написать здесь.
      </span>
    </a>
  </div>

  <br style="clear:left" />

<p>
  <b>article:</b>
  <%= @product.article %>
</p>

<p>
  <b>Цена:</b>
  <%= @product.price %>
</p>


<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>

<% unless @product.desc.blank?%>

    <p>описание:</p>
    <p>
      <%= @product.desc %>
    </p>
<% end %>

<% unless @product.discount.blank?%>
    <p>скидка:</p>
    <p>
      <%= @product.discount %>
    </p>
<% end %>

<%if current_user %>
  <% if current_user.isAdmin? %>
    <%= link_to 'Редактировать продукт', edit_category_product_path(@product) %>
    <% if (@product.info.blank?)%>
      <%= link_to 'Редактировать дополнительную информацию', new_info_path(:product_id => @product.id)%>
    <% else %>
      <%= link_to 'Редактировать дополнительную информацию', edit_info_path(@product.info)%>
    <% end %>
  <% end %>
<% end %>