<% content_for :meta do %>
    <title><%= title%></title>
    <meta name="description" content="<%= @product.mdesc %>" />
    <meta name="keywords" content="<%= @product.mkeywords%>" />
<% end %>



<%if current_user %>
  <% if current_user.isAdmin? %>
    <%= link_to 'Редактировать продукт', edit_category_product_path(@product.category, @product) %>
    |
    <% if (@product.info.blank?)%>
      <%= link_to 'Редактировать дополнительную информацию', new_info_path(:product_id => @product.id)%>
    <% else %>
      <%= link_to 'Редактировать дополнительную информацию', edit_info_path(@product.info)%>
    <% end %>
  <% end %>
<% end %>

<div class="product-card nclear">
  <div class="product-imgwrap">
    <a class="product-img tr-01" href="/big/<%= @product.try(:article)%>.jpg" rel="prettyPhoto">
      <%= image_tag "/medium/#{@product.try(:article)}.jpg" %>
      <i class="open-icon"></i>
    </a>
  </div>
  <div class="product-content">
    <div class="product-title"><%=@product.category.title%></div>
    <div class="product-description"></div>
    <div class="product-articles">
      <div class="product-article">Артикул: <%= @product.article %></div>
      <div class="product-article">Jablonex</div>
    </div>
    <div class="product-prices">
      <div class="product-price"><s></s></div>
      <div class="product-price"><%= @product.price %> р.</div>
    </div>
    <span class="btn" onclick='add_to_cart(<%= @product.id%>);'>ОФОРМИТЬ ЗАКАЗ</span>
    <span class="on-sclad">
      <i class="icon-ok"></i>
      Имеется в наличии
    </span>
  </div>
</div>
<div class="similar-title">
  <i class="icon-list"></i>
  ПОХОЖИЕ ТОВАРЫ
</div>
<div class="product-list">
  <div class="product-list-item product-item-big">
    <a href="/categories/<%=@prs1.category_id%>/products/<%= @prs1.id %>" class="product-item-img"><%= image_tag "/medium/#{@prs1.try(:article)}.jpg" %></a>
    <div class="product-list-info">
      <div class="product-list-title"><%=@prs1.category.title%></div>
      <div class="product-list-articles">
        <div class="product-list-article">Ар.: <%= @prs1.article %></div>
        <div class="product-list-article">Jablonex</div>
      </div>
      <div class="product-list-price">
        <%= @prs1.price %> р.
      </div>
      <span class="btn" onclick='add_to_cart(<%= @prs1.id%>);'>ОФОРМИТЬ ЗАКАЗ</span>
      <span class="on-sclad">
        <i class="icon-ok"></i>
        В наличии
      </span>
    </div>
  </div>
  <div class="product-list-box">
    <%= render @prs2%>
  </div>
  <div class="product-list-box">
    <%= render @prs3%>
  </div>
  <div class="product-list-item product-item-big">
    <a href="/categories/<%=@prs4.category_id%>/products/<%= @prs4.id %>" class="product-item-img"><%= image_tag "/medium/#{@prs4.try(:article)}.jpg" %></a>
    <div class="product-list-info">
      <div class="product-list-title"><%=@prs4.category.title%></div>
      <div class="product-list-articles">
        <div class="product-list-article">Ар.: <%= @prs4.article %></div>
        <div class="product-list-article">Jablonex</div>
      </div>
      <div class="product-list-price">
        <%= @prs4.price %> р.
      </div>
      <span class="btn" onclick='add_to_cart(<%= @prs4.id%>);'>ОФОРМИТЬ ЗАКАЗ</span>
      <span class="on-sclad">
        <i class="icon-ok"></i>
        В наличии
      </span>
    </div>
  </div>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({
        show_title: false,
        social_tools: ''
      });
    });
  </script>
<% end %>
