<p id="notice"><%= notice %></p>
<p>
  <b>article:</b>
  <%= @product.article %>
</p>

<p>
  <b>Цена:</b>
  <%= @product.price %>
</p>

<p>
  <b>Количество:</b>
  <%= @product.count %>
</p>

<p>
  <b>Скидка:</b>
  <%= @product.discount %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>

<%= link_to 'Редактировать продукт', edit_category_product_path(@product) %>
