<div class="fl-l product">
<p id="notice"><%= notice %></p>

  <div class="ienlarger">
    <a href="#nogo">

      <% if !!@product.image_exist? %>
        <!--<img src="http://img691.imageshack.us/img691/7360/89815502.jpg" alt="thumb" class="resize_thumb" />-->
        <%= image_tag("bujua/#{@product.image_exist?}", :class => 'resize_thumb' )%><br />
        <span>
          <!--<img src="/assets/bujua/" alt="large" /><br />-->
          <%= image_tag "bujua/#{@product.image_exist?}"%><br />
          <%= "#{@product.article}"%>
        </span>
      <%else%>
        <%= image_tag ("bujua/no.gif", :alt => "test1",:class => 'resize_thumb')%>
      <%end%>
    </a>
  </div>

  <br style="clear:left" />
</div>


<div class="prdesc">
  <% unless @product.desc.blank?%>
      <p class="descr">
        <%= @product.desc %>
      </p>
  <% end %>
  <p >
    Марка:
    <%= @product.brand %>
  </p>
  <p >
    Артикул:  <%= @product.article %>
  </p>
   <p></p>
  <% if @product.discount.blank?%>
    <p class="pr_line">
      <b> Цена: <%= @product.price.round(2) %> р. </b>
    </p>
    </br>
  <span class="p-addcard " data-id="<%= @product.id%>" data-name="<%= @product.article%>" data-price="<%= @product.price%>">
      <%= image_tag "cart.jpg",{:width => 30} %>
  </span>
  <% else %>
    <p class="descr l-through">
      Цена: <%= @product.price.round(2) %> р.
    </p>
    <div class ="discount">
      <p>Cкидка: <%= @product.discount.round(2) %> р.</p>
    
    </div>
    </br>
  <span class="p-addcard " data-id="<%= @product.id%>" data-name="<%= @product.article%>" data-price="<%= @product.discount%>">
      <%= image_tag "cart.jpg",{:width => 30} %>
  </span>
  <% end %>
  


</div>

<%if current_user %>
  <% if current_user.isAdmin? %>
    <%= link_to 'Редактировать продукт', edit_category_product_path(@product.category, @product) %>
    |
    <% if (@product.info.blank?)%>
      <%= link_to 'Редактировать дополнительную информацию', new_info_path(:product_id => @product.id)%>
    <% else %>
      <%= link_to 'Редактировать дополнительную информацию', edit_info_path(@product.info)%>
    <% end %>
  <% end %>
<% end %>