<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @info.content %>
</p>

<p>
  <b>Discount:</b>
  <%= @info.discount %>
</p>

<%if current_user %>
  <% if current_user.isAdmin? %>
    <%= link_to 'Edit', edit_info_path(@info) %> |
    <%= link_to 'Back', infos_path %>
  <% end %>
<% end %>
