<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>
<div id = "wrapper">
  <div class="<%= @hide_card ? 'h' : ''%>">
      <div class="card empty">
          <span class="card-title">Ваша корзина:</span>
          <span id="card-chekout">пуста</span>
          <div id="card-wrapper"></div>
          <div class="links">
            <a class="fl-r" href="javascript: void(0)" onclick="card.emptyCard()">Очистить корзину</a>
            <a href="/card">Оформить заказ</a>
          </div>
      </div>
  </div>
  <div class="header shadow">
    <div class="header-content">
      <div class="logo">Bujua</div>
      <div class="login">
        <% if current_user %>
          <span><%= current_user.email %></span><!--
          --><%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
        <%else %>
          <%= link_to "Войти", new_user_session_path %><!--
          --><%= link_to "Регистрация", new_user_registration_path %>
        <% end %>
      </div>
      <div class="top-menu">
        <% allpages.each do |p| %>
           <%= link_to p.title, p, {:class => (params[:controller] == "pages" && params[:action] == "show" && params[:id].to_i == p.id) ? "active" : "" }%>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container nclear">
    <div class="left-part shadow main-box brs-5">
      <h3>Категории</h3>

      <ul class="categories">
        <% if(allcategories.count == 0) %>
            <li><%= link_to 'Добавить категорию', new_category_path %></li>
        <% end %>
        <% allcategories.each do |cat| %>
          <li> <%= link_to cat.title, cat %> </li>
        <% end %>
      </ul>
      <% if current_user %>
          <br><br>
          для админов:
          <ul class="categories">
            <li><%= link_to 'Добавить страницу', new_page_path %></li>
            <li><%= link_to 'Добавить категорию', new_category_path %></li>
            <li><a href="/card/list">Список заказов</a></li>
            <li><%= link_to 'импорт из Excel', import_excel_path %></li>
            <li><%= link_to 'конвертировать изображение', image_convert_path %></li>
          </ul>
      <% end %>
    </div>

    <div class="center-part">
        <% if(!@hide_banner) %>
        <div class="shadow main-box brs-5">
          <div class="banner brs-5">
            <%= image_tag "banner.jpg",  :alt => "banner" %>
          </div>
        </div>
        <% end %>
        <% if(!@hide_search) %>
        <div class="search shadow main-box brs-5">
          Быстрый поиск
        </div>
        <% end %>

        <div class="content shadow main-box brs-5">
          <%= yield %>
        </div>
    </div>
  </div>
  
  <div class="footer shadow">
    <div class="footer-content">
      footer
    </div>
  </div>
</div>
</body>
</html>
