<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <%= yield :meta %>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
  <title>Main page</title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>

  <%= javascript_include_tag 'jq1_9.js' %>
  <%= javascript_include_tag 'script.js' %>
  <%= javascript_include_tag 'jquery.prettyPhoto.js' %>
  <!--<link rel="stylesheet" href="static/module/fancybox/jquery.fancybox-1.3.4.css" >-->
  <!--<script type="text/javascript" src="static/module/fancybox/jquery.fancybox-1.3.4.pack.js"></script>-->
</head>
<body>
<div id="container">
  <div id="content-wrapper">
    <div id="header" class="nclear">
      <div class="top-line"></div>
      <div class="right-side">
        <div class="right-side-top nclear">
          <a class="icon-search" href="/search.html" title='Поиск'></a>
          <a href="/" id='logo' title="Bujua.ru">
            <%= image_tag 'logo.png', alt: 'Bujua.ru' %>
          </a>
        </div>
        <span class="telephone"><i class="icon-phone"></i>+7 (911) 709 61-61</span>
        <span class="basket-title" onclick="basket.open()"><i class="icon-basket"></i><span class="basket-title-inner">Ваша корзина</span></span>
      </div>
      <div class="left-side">
        <div class="nav-panel nclear">
          <% Page.all.each do |p| %>
             <%= link_to p.title, p , { class: 'nav-panel-item' }%>
          <% end %>
          <a class="nav-panel-item" href="/">Страница 1</a>
          <a class="nav-panel-item" href="/">Страница 2</a>
          <!--
            <div class="nav-panel-item has-drop-menu" href="/">
              <i class="drop-icon"></i>Èíäèâèäóàëüíûé ïîäáîð
              <div class="nav-drop-down">
                <a href="/" class="drop-down-item">&bull; <span>Äîñòàâêà</span></a>
                <a href="/" class="drop-down-item">&bull; <span>Äîñòàâêà</span></a>
                <a href="/" class="drop-down-item">&bull; <span>Äîñòàâêà</span></a>
                <a href="/" class="drop-down-item">&bull; <span>Äîñòàâêà</span></a>
              </div>
            </div>
          -->
        </div>
        <div class="user-nav">
          <i class="icon-user"></i>
          <% if current_user %>
            <%= link_to current_user.email, user_test_path, class: 'user-nav-item' %>
            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'user-nav-item'%>
          <%else %>
            <%= link_to "Войти", new_user_session_path, class: 'user-nav-item' %>
            <%= link_to "Регистрация", new_user_registration_path, class: 'user-nav-item' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="menu-categories">
      <% Category.all.each do |cat| %>
        <span class="category-delimetr">&omicron;</span>
        <%= link_to cat.name, cat, class: 'category-item' %>
      <% end %>
      <span class="category-delimetr">&omicron;</span>
    </div>
    <div id="content" class="nclear">
      <% if (controller.controller_name == 'pages' && controller.action_name == 'index') %>
        <%= yield %>
      <% else %>
        <div class="right-side" id='yield-right-side'>
          <%= yield %>
        </div>

        <div class="left-side">
          <div class="nclear">
            <i class="icon-parametrs"></i>
            <div class="title-params">
                ПОИСК ПО ПАРАМЕТРАМ:
                <span id="show-results" onclick="search();"><span>Показать</span> &rarr;</span>
            </div>
          </div>
          <div class="params-container">
            <div class="params-title">Тип</div>
            <div class="form-select-wrap params-select" id="select-type"></div>
            <script type="text/javascript">
              var selectorType = new fsSelect({
                  element: "#select-type",
                  name: "type",
                  placeholder: "Выберите тип",
                  readonly: true,
                  array: [
                      <% Category.all.each do|c|%>
                        <% if Category.last == c %>
                          <%= raw "[#{c.id}, '#{c.name}', 0, 0]"%>
                        <% else %>
                          <%= raw "[#{c.id}, '#{c.name}', 0, 0],"%>
                        <% end %>
                      <% end %>
                  ]
              })
            </script>
            <div class="params-title">Цена</div>
            <div class="form-select-wrap params-select" id="select-price"></div>
            <script type="text/javascript">
              var selectorPrice = new fsSelect({
                  element: "#select-price",
                  name: "price",
                  placeholder: "Выберите цену",
                  readonly: true,
                  array: [
                      [1, 'до 1000', 0, 0],
                      [2, '1000-3000', 0, 0],
                      [3, 'более 3000', 0, 0]
                  ]
              })
            </script>
            <!--<div class="params-title">Производитель</div>-->
            <!--<div class="form-select-wrap params-select" id="select-creator"></div>-->
            <!--<script type="text/javascript">-->
            <!--  var selectorCreator = new fsSelect({
                  element: "#select-creator",
                  name: "creator",
                  placeholder: "Выберите производителя",
                  readonly: true,
                  array: [
                      [1, 'JABLONEX', 0, 0],
                      [2, 'PRECIOSA', 0, 0],
                      [3, 'ALCOZER', 0, 0]
                  ]
              })
            <!--</script>-->
          </div>
          <!--<div class="watched-title"><i class="icon-eye"></i>Вы уже посмотрели (26):</div>-->
          <!--<div class="watched-wrap">-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01">&ndash;&gt;-->
              <!--&lt;!&ndash;<img src="static/i/pics/mini.png">&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/" class="watched-item tr-01"><img src="static/i/pics/mini.png"></a>&ndash;&gt;-->
          <!--</div>-->
        </div>
      <% end %>

    </div>
  </div>
  <div id="footer">
      <div id="socials"></div>
      &copy; 2013. Bujua.ru
  </div>
</div>
<div id="node-heap">
  <%= render partial: 'card/basket' %>
</div>
<%= yield :js %>
</body>
</html>
